In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('hr.csv')
pd.set_option('display.max_columns', None)

/Users/yang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (48,52,55,56,57,59,60,61,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# transform str to datetime object

dates_cols = ['Birth_Date','PRIMARY_APPT_BEGIN_DATE','ORIGINAL_HIRE_DATE']
for col in dates_cols:
    data[col] = pd.to_datetime(data[col])

not_na = data['TERMINATION_DATE'].notna()
data['TERMINATION_DATE'] = pd.DatetimeIndex(data['TERMINATION_DATE'])

# data['Birth_Date'] = data['Birth_Date'].dt.year
# current_year = datetime.datetime.now().year
# data["Birth_Date"] = data["Birth_Date"].apply(lambda x: current_year - x)
# data = data.rename(columns = {"Birth_Date":'Age'})

In [3]:
# Let's replace "PHILA" with PHILADELPHIA.
data['HOME_CITY'] = data['HOME_CITY'].str.strip()   # gets rid of leading and trailing white space
wrong_philly = data['HOME_CITY'] == 'PHILA'   
data['HOME_CITY'][wrong_philly] = 'PHILADELPHIA'
# data['HOME_CITY'] = data['HOME_CITY'].str.strip()   
# data['HOME_CITY'] = data['HOME_CITY'].apply(lambda x: 'PHILA' if x == 'PHILADELPHIA' or x == 'PHILA' else 'Non-PHILA')

/Users/yang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [4]:
data['PAY_CYCLE'] = data['PAY_CYCLE'].apply(lambda x: 0 if x == 'M1' else 1)
data['SEX'] = data['Manager_Sex'].apply(lambda x: 0 if x == 'M' else 1)
data['Manager_Sex'] = data['Manager_Sex'].apply(lambda x: 0 if x == 'M' else 1)

In [5]:
categorical_cols = ['RACE','MARITAL_STATUS','GRANT_PAID','Manager_Race']
for col in categorical_cols:
    df = pd.get_dummies(data[col]).rename(lambda x: col+'_'+str(x), axis=1)
    data = pd.concat([data, df], axis=1)
    data = data.drop(columns = col)

In [6]:
# NOTE: STRONG CORRELATION between
# PRIMARY_APPT_SALARY, Starting_Full_Time_Salary, Career_Salary_Growth, Percent_Career_Salary_Growth
# i.e. PRIMARY_APPT_SALARY = Starting_Full_Time_Salary + Career_Salary_Growth

In [7]:
data['EDUCATION_LEVEL_YEAR'] = data['EDUCATION_LEVEL_YEAR'].str.strip()
data['EDUCATION_LEVEL_YEAR'] = data['EDUCATION_LEVEL_YEAR'].apply(lambda x: int(x) if x.isnumeric() else None)

In [8]:
data['Manager_Edu_Level_Year'] = data['Manager_Edu_Level_Year'].str.strip()
data['Manager_Edu_Level_Year'] = data['Manager_Edu_Level_Year'].fillna('')
data['Manager_Edu_Level_Year'] = data['Manager_Edu_Level_Year'].apply(lambda x: int(x) if x != '' else None)

In [9]:
# average ratings
rating_map = {'E':10,'R':8,'M':6,'N':4,'U':2}
rating_df = pd.DataFrame()
for year in range(2010,2020):
    data['OVR_RATING_CD_'+str(year)] = data['OVR_RATING_CD_'+str(year)].apply(lambda x: rating_map[x] if x in rating_map else 0)
    rating_df = pd.concat([rating_df,data['OVR_RATING_CD_'+str(year)]],axis=1)
    data = data.drop(columns = ['OVR_RATING_DESCR_'+str(year),'OVR_RATING_CD_'+str(year)])

from collections import Counter
valid_years = np.array([10-c[0] for c in [Counter(x) for x in rating_df.values]])
total = np.array(rating_df.apply(np.sum,axis=1).values)
avg_rating = np.zeros(len(total))
for i in range(len(total)):
    if valid_years[i] == 0:
        avg_rating[i] = None
    else:
        avg_rating[i] = total[i]/valid_years[i]
data['avg_rating'] = pd.Series(avg_rating)

In [10]:
redundant_cols = ['Race_Desc','Sex_Desc','EDUCATION_LEVEL_DESC','HOME_ZIP','YEARS_IN_PRIMARY_JOB','YEARS_OF_SERVICE',
                  'EMPLOYMENT_STATUS_DESC',
                  'Dept_Name','Dept_Name_Short',
                  'School_Name','School_Abbrev',
                  'PRIMARY_APPT_JOB_CLASS',
                  'Job_Grade_Fiscal_Year','AnnualMinimum',
                  'AnnualFirstThird','AnnualMidPoint','AnnualSecondThird','AnnualMax',
                  'REPORTS_TO_PENN_ID',
                  'REPORTS_TO_DATE',
                  'Manager_Years_Managed',
                  'Manager_Original_Hire_Date',
                  'Manager_Edu_Level_Desc','Manager_Sex_Desc','Manager_Race_Desc','Termination_Fiscal_Year',
                  'SEPERATION_REASON_DESC',
                  'Retirement_Eligible_Date']

data = data.drop(columns = redundant_cols)

In [11]:
text_cols = ['EDUCATION_LEVEL','COUNTRY_OF_CITIZENSHIP','HOME_CITY','VISA','JOB_GRADE','JOB_TITLE','Manager_Edu_Level']
for col in text_cols:
    data[col] = data[col].str.strip()

In [12]:
display(data)

,Worker_ID,Birth_Date,Race_OfColor,SEX,AGE_AT_TERMINATION,CURRENT_AGE,EDUCATION_LEVEL,EDUCATION_LEVEL_YEAR,COUNTRY_OF_CITIZENSHIP,HOME_CITY,VISA,VISA_EXPIRATION_DATE,PRIMARY_APPT_BEGIN_DATE,MONTHS_IN_PRIMARY_JOB,HOME_DEPT_ORG,HOME_SCHOOL_CTR,ORIGINAL_HIRE_DATE,PRIMARY_APPT_SALARY,JOB_GRADE,JOB_TITLE,IN_UNION,PAY_CYCLE,Starting_Full_Time_Salary,Career_Salary_Growth,Percent_Career_Salary_Growth,Number_of_Sal_Adjustments,Number_of_Reclass,Manager_Months_Managed,Manager_Current_Age,Manager_Age_At_Termination,Manager_Edu_Level,Manager_Edu_Level_Year,Manager_YEARS_OF_SERVICE,Manager_Sex,Manager_OfColor,Manager_Job_Title,TERMINATION_DATE,EMPLOYMENT_STATUS,SEPARATION_REASON,VOLUNTARY,JOBS_ACTIVE,RACE_A,RACE_B,RACE_C,RACE_P,RACE_R,RACE_S,RACE_U,RACE_Z,MARITAL_STATUS_D,MARITAL_STATUS_M,MARITAL_STATUS_S,MARITAL_STATUS_W,GRANT_PAID_F,GRANT_PAID_N,GRANT_PAID_P,Manager_Race_A,Manager_Race_B,Manager_Race_C,Manager_Race_P,Manager_Race_R,Manager_Race_S,Manager_Race_U,Manager_Race_Z,avg_rating
0,1,1982-07-13,0,0,28.0,37,C,NaN,,NEWTOWN,,NaN,2008-09-08,32,4613,40,2008-09-08,41615.00,25,TECH PRESSURE CHAMBER,0,1,40000.00,1615.00,0.0403,0,0,3.0,91.0,83.0,H,1954.0,56.0,0,0.0,ASSOC DIRECTOR D,2011-05-09,T,24,0.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,4.000000
1,2,1984-02-10,0,0,27.0,35,G,2006.0,,PHILADELPHIA,,NaN,2011-01-03,10,4413,40,2007-07-27,32714.00,25,CLINICAL RESEARCH COORD A,0,0,26000.00,6714.00,0.2582,0,0,9.0,71.0,64.0,,NaN,4.0,0,0.0,MGR RES PROJECT A,2011-11-21,T,41,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,7.000000
2,3,1965-03-26,0,1,46.0,54,G,1995.0,,PHILADELPHIA,,NaN,2004-12-03,84,225,2,2004-12-03,62636.72,B,PROGRAMMER ANALYST,0,0,52000.00,10636.72,0.2045,0,0,10.0,71.0,63.0,K,NaN,12.0,1,0.0,LIMITED SERVICE (E),2011-12-30,T,1,0.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,10.000000
3,4,1959-09-30,0,1,52.0,60,G,1983.0,,HADDON HEIGHT,,NaN,2002-07-01,115,4212,40,1987-02-16,90815.00,29,ADMIN & FINANCIAL OFFICER,0,0,65000.00,25815.00,0.3971,0,0,12.0,72.0,64.0,H,1976.0,28.0,1,0.0,HR DIR SCHOOL/CENTER,2012-02-17,T,80,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,8.000000
4,5,1990-02-12,0,0,23.0,29,,NaN,,PHILADELPHIA,,NaN,2013-01-01,4,120,2,2011-09-06,29120.00,24,RESEARCH SPECIALIST A,0,0,29120.00,0.00,0.0000,0,0,3.0,86.0,79.0,K,1960.0,31.0,0,0.0,EMERITUS PROFESSOR,2013-05-24,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,NaN
5,6,1985-10-21,0,0,25.0,33,,NaN,,NEWTOWNSQUARE,,NaN,2009-03-09,26,4202,40,2009-03-09,27895.49,24,RESEARCH SPECIALIST A,0,0,27000.00,895.49,0.0331,0,0,3.0,65.0,56.0,I,1980.0,17.0,0,0.0,CPUP CLINICAL POSITION,2011-05-31,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,8.000000
6,7,1980-05-04,0,0,31.0,39,,NaN,,VOORHEES,,NaN,2008-01-22,49,4413,40,2008-01-22,41593.00,26,CLINICAL RESEARCH COORD B,0,0,23313.00,18280.00,0.7841,0,0,12.0,70.0,62.0,I,1975.0,32.0,0,0.0,CPUP CLINICAL POSITION,2012-02-24,T,41,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,10.000000
7,8,1978-08-29,0,1,32.0,41,G,2008.0,,SYRACUSE,,NaN,2010-01-04,18,5110,51,2010-01-04,33014.00,24,RESEARCH SPECIALIST A,0,0,31500.00,1514.00,0.0480,0,0,3.0,74.0,66.0,K,1982.0,24.0,1,0.0,PROFESSOR A,2011-07-28,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,8.000000
8,9,1980-05-23,0,1,30.0,39,H,2009.0,,PHILADELPHIA,,NaN,2009-09-08,19,603,6,2009-08-10,53170.00,27,MGR RES PROJECT A,0,0,52000.00,1170.00,0.0225,0,0,2.0,64.0,55.0,K,1987.0,16.0,1,1.0,PROFESSOR A,2011-04-09,T,41,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,10.000000
9,10,1972-01-10,1,1,41.0,47,H,2004.0,,PHILADELPHIA,,NaN,2009-11-16,40,603,6,2009-11-16,54695.56,28,MGR RES PROJECT B,0,0,50000.00,4695.56,0.0939,0,0,24.0,64.0,57.0,K,1987.0,17.0,1,1.0,PROFESSOR A,2013-03-01,T,41,1.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,10.000000
10,11,1986-11-07,1,1,26.0,32,,NaN,,PHILADELPHIA,,NaN,2012-04-02,16,603,6,2012-04-02,30525.00,23,ADMIN ASST A,0,1,30000.00,525.00,0.0175,0,0,4.0,64.0,57.0,K,1987.0,18.0,1,1.0,PROFESSOR A,2013-08-09,T,44,1.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,5.000000
11,12,1951-08-14,1,0,60.0,68,,NaN,,SAN MATEO,,NaN,2004-08-01,84,4415,40,1994-12-13,47068.00,26,RESEARCH SPECIALIST C,0,0,16000.00,31068.00,1.9417,0,0,6.0,74.0,66.0,K,1980.0,26.0,0,0.0,PROFESSOR A,2011-08-14,T,30,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,8.000000
12,13,1962-07-03,0,0,50.0,57,,NaN,,PHILADELPHIA,,NaN,2008-11-10,52,4227,40,2008-09-02,75026.00,28,MGR RES PROJECT B,0,0,68640.00,6386.00,0.0930,0,0,25.0,74.0,67.0,I,1973.0,19.0,0,0.0,PROFESSOR C-E,2013-03-29,T,3,0.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,8.666667
13,14,1985-09-10,0,1,25.0,34,H,2007.0,,PHILADELPHIA,,NaN,2009-09-22,21,5103,51,2009-09-22,29131.00,24,RESEARCH SPECIALIST A,0,0,28000.00,1131.00,0.0403,0,0,4.0,73.0,65.0,K,1975.0,31.0,1,0.0,PROFESSOR A,2011-06-30,T,44,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,8.000000
14,15,1988-03-06,0,0,24.0,31,G,2010.0,,PHILADELPHIA,,NaN,2010-11-01,21,103,2,2009-10-12,33071.95,25,COORDINATOR A,0,0,30816.00,2255.95,0.0732,0,0,8.0,70.0,63.0,K,1979.0,31.0,0,0.0,PROFESSOR A,2012-08-17,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,10.000000
15,16,1990-06-08,0,0,23.0,29,G,2012.0,,PHILADELPHIA,,NaN,2012-05-29,22,4245,40,2009-05-18,30600.00,24,RESEARCH SPECIALIST A,0,0,30000.00,600.00,0.0200,0,0,0.0,69.0,64.0,I,1975.0,25.0,0,1.0,ASSOC PROFESSOR A,2014-03-25,T,33,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,8.000000
16,17,1986-05-21,0,1,32.0,33,G,2008.0,,PHILADELPHIA,,NaN,2011-11-02,84,101,2,2008-11-03,44318.56,24,ADMIN ASST B,0,1,36800.00,7518.56,0.2043,0,0,0.0,30.0,29.0,G,2011.0,9.0,1,0.0,COORDINATOR B,2018-11-19,T,46,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,6.333333
17,18,1985-05-21,0,1,32.0,34,C,2004.0,,AUDUBON,,NaN,2017-03-06,4,101,2,2004-09-07,38241.80,24,ADMIN ASST B,0,1,18615.52,19626.28,1.0542,0,1,17.0,30.0,28.0,G,2011.0,7.0,1,0.0,COORDINATOR B,2017-07-31,T,44,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,8.000000
18,19,1992-06-02,0,1,NaN,27,G,2014.0,,PHILADELPHIA,,NaN,2017-03-06,31,101,2,2015-09-30,39308.93,25,ADMIN COORDINATOR,0,1,37000.00,2308.93,0.0624,0,0,10.0,30.0,NaN,G,2011.0,10.0,1,0.0,COORDINATOR B,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,10.000000
19,20,1995-01-23,0,1,24.0,24,G,2017.0,,PHILADELPHIA,,NaN,2017-10-09,18,101,2,2017-07-31,37595.00,24,ADMIN ASST B,0,1,36500.00,1095.00,0.0300,0,0,4.0,30.0,29.0,G,2011.0,9.0,1,0.0,COORDINATOR B,2019-04-14,T,41,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,10.000000
20,21,1986-11-12,0,1,NaN,32,H,2013.0,,PHILADELPHIA,,NaN,2019-01-30,9,101,2,2019-01-30,45000.00,25,ADMIN COORDINATOR,0,1,45000.00,0.00,0.0000,0,0,10.0,30.0,NaN,G,2011.0,10.0,1,0.0,COORDINATOR B,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,NaN
21,22,1995-03-19,0,1,NaN,24,G,2017.0,,PHILADELPHIA,,NaN,2019-05-28,5,101,2,2019-05-28,38000.00,24,ADMIN ASST B,0,1,38000.00,0.00,0.0000,0,0,10.0,30.0,NaN,G,2011.0,10.0,1,0.0,COORDINATOR B,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,NaN
22,23,1980-02-26,1,1,31.0,39,H,2007.0,,PHILADELPHIA,,NaN,2007-08-27,48,101,2,2007-06-11,39200.00,24,ADMIN ASST B,0,1,35000.00,4200.00,0.1200,0,0,6.0,53.0,45.0,K,1999.0,5.0,1,0.0,PROFESSOR A,2011-08-05,T,47,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,9.000000
23,24,1984-01-18,0,0,28.0,35,G,2006.0,,CHAMPAIGN,,NaN,2009-05-01,37,101,2,2009-05-01,33979.26,25,RESEARCH SPECIALIST B,0,0,32500.00,1479.26,0.0455,0,0,16.0,58.0,51.0,K,1998.0,10.0,0,0.0,PROFESSOR A,2012-06-22,T,3,0.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,7.000000
24,25,1953-04-28,0,0,62.0,66,F,1974.0,,PHILADELPHIA,,NaN,2005-07-01,120,101,2,1988-02-10,58530.00,25,ASST TO CHAIR,0,0,19575.00,38955.00,1.9900,0,0,4.0,70.0,66.0,K,1978.0,21.0,0,0.0,PROFESSOR A,2015-07-31,T,30,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,10.000000
25,26,1987-09-14,0,1,NaN,32,K,2016.0,,LONG BEACH,,NaN,2016-09-15,37,101,2,2016-09-15,50923.20,26,EDITOR ASST SR,0,0,48000.00,2923.20,0.0609,0,0,10.0,52.0,NaN,K,NaN,13.0,1,1.0,PROFESSOR A,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,10.000000
26,27,1971-04-28,1,0,NaN,48,H,NaN,IN,PHILADELPHIA,IM,11/1/2017 0:00,2005-04-01,174,103,2,1998-09-01,95110.53,D,APPLICATION DEVELOPER SR,0,0,2964.00,92146.53,31.0885,1,1,10.0,62.0,NaN,K,NaN,30.0,0,0.0,PROFESSOR A,NaT,A,,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,6.666667
27,28,1976-12-06,1,0,NaN,42,K,2008.0,CH,GLEN ALLEN,IM,11/1/2019 0:00,2008-03-11,139,103,2,2008-03-11,89826.61,C,APPLICATION DEVELOPER C,0,0,51000.00,38826.61,0.7613,1,1,10.0,62.0,NaN,K,NaN,30.0,0,0.0,PROFESSOR A,NaT,A,,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,8.333333
28,29,1968-08-20,1,0,NaN,51,H,2005.0,CH,CHERRY HILL,IM,8/1/2028 0:00,2011-07-05,99,103,2,2011-07-05,89826.61,C,APPLICATION DEVELOPER C,0,0,6000.00,83826.61,13.9711,0,1,10.0,62.0,NaN,K,NaN,30.0,0,0.0,PROFESSOR A,NaT,A,,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,7.600000
29,30,1963-12-15,0,0,NaN,55,F,1984.0,,SPRINGFIELD,,NaN,2007-04-01,150,103,2,1987-08-03,75810.33,26,COORDINATOR B,0,0,28650.00,47160.33,1.6460,1,0,10.0,62.0,NaN,K,NaN,30.0,0,0.0,PROFESSOR A,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,9.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19341,19342,1961-08-12,0,1,56.0,58,G,1983.0,,LANGHORNE,,NaN,1997-09-08,243,301,2,1988-04-18,137200.00,31,DIR ADMIN AFFAIRS,0,0,45500.00,91700.00,2.0153,0,0,11.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2017-12-31,T,30,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7.200000
19342,19343,1949-11-18,0,1,66.0,69,K,1980.0,,MERION STA,,NaN,1999-06-01,204,105,2,1999-06-01,139500.00,29,DIRECTOR C,0,0,85000.00,54500.00,0.6411,0,0,51.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-06-30,T,30,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19343,19344,1981-04-10,1,1,37.0,38,,NaN,,FOLCROFT,,NaN,2006-09-25,143,119,2,2003-10-01,45699.22,24,ADMIN ASST B,0,1,18000.00,27699.22,1.5388,0,1,90.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2018-08-17,T,44,1.0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7.777778
19344,19345,1990-10-08,1,1,25.0,29,,NaN,,PHILADELPHIA,,NaN,2014-08-01,23,120,2,2014-08-01,36410.50,24,RESEARCH SPECIALIST A,0,0,35000.00,1410.50,0.0403,0,0,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-07-06,T,47,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,10.000000
19345,19346,1992-11-05,0,1,23.0,26,G,2015.0,,PHILADELPHIA,,NaN,2015-09-01,10,120,2,2013-02-11,35000.00,24,RESEARCH SPECIALIST A,0,0,34000.00,1000.00,0.0294,0,0,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-07-29,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19346,19347,1976-07-26,0,1,39.0,43,G,1998.0,,PHILADELPHIA,,NaN,2015-08-17,11,301,2,2004-04-01,110000.00,E,IT SR PROJECT LEADER,0,0,65000.00,45000.00,0.6923,0,0,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-07-15,T,1,0.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,8.000000
19347,19348,1969-10-19,1,1,46.0,49,G,1999.0,,PHILADELPHIA,,NaN,2010-02-01,76,155,2,2008-01-28,53548.19,26,COORDINATOR B,0,0,35000.00,18548.19,0.5299,0,0,-1.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-06-24,T,44,1.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,7.000000
19348,19349,1964-09-29,0,1,51.0,55,K,1995.0,,DURHAM,,NaN,2004-07-01,143,103,2,1996-03-07,94569.65,28,MGR RES PROJECT B,0,0,20900.00,73669.65,3.5248,0,0,-1.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-06-30,T,40,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,8.666667
19349,19350,1954-07-13,1,1,62.0,65,K,1979.0,IN,VOORHEES,IM,NaN,1995-06-14,259,301,2,1991-09-14,78411.89,27,RESEARCH SPECIALIST D,0,0,31000.00,47411.89,1.5294,0,0,6.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2017-01-12,T,30,1.0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7.333333
19350,19351,1965-08-05,0,1,46.0,54,,NaN,,COATESVILLE,,NaN,1999-10-05,149,4434,40,1999-09-08,32631.00,23,TECH ASST LAB ANIMAL,0,1,21840.00,10791.00,0.4940,0,0,13.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2012-03-25,T,41,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,10.000000
19351,19352,1986-10-11,1,1,26.0,32,,NaN,,PHILADELPHIA,,NaN,2009-09-30,38,4434,40,2009-06-08,29378.00,24,RESEARCH SPECIALIST A,0,0,27000.00,2378.00,0.0880,0,0,21.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2012-11-30,T,3,0.0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,10.000000
19352,19353,1957-10-24,0,1,NaN,61,C,NaN,,BENSALEM TWP,,NaN,1992-02-10,332,9603,96,1991-07-22,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19353,19354,1977-09-24,1,1,NaN,42,,NaN,,PHILADELPHIA,,NaN,2017-08-28,26,9603,96,2015-06-01,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19354,19355,1961-06-03,0,1,NaN,58,B,NaN,,CLAYMONT,,NaN,1998-01-12,261,9603,96,1998-01-12,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19355,19356,1973-09-14,1,1,NaN,46,C,NaN,,PHILADELPHIA,,NaN,2002-10-10,204,9603,96,2002-07-01,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19356,19357,1958-01-22,1,1,NaN,61,,NaN,,PHILADELPHIA,,NaN,2002-10-12,204,9603,96,2002-07-08,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19357,19358,1947-03-18,1,1,NaN,72,B,NaN,,PHILADELPHIA,,NaN,1990-01-02,357,9603,96,1990-01-02,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19358,19359,1966-04-26,0,1,NaN,53,C,1984.0,,PHILADELPHIA,,NaN,1997-04-03,270,9603,96,1997-01-20,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19359,19360,1967-12-30,0,1,NaN,51,C,NaN,,PHILADELPHIA,,NaN,1988-08-01,374,9603,96,1987-11-16,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19360,19361,1966-04-20,0,1,NaN,53,C,1984.0,,HOLLAND,,NaN,1996-10-07,276,9603,96,1996-10-07,46176.00,U,CUSTODIAN,1,1,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaT,A,,NaN,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19361,19362,1969-03-15,1,1,45.0,50,K,2001.0,,RUTLEDGE,,NaN,2007-08-01,82,4259,40,2001-12-01,55526.00,27,RESEARCH SPECIALIST D,0,0,31000.00,24526.00,0.7911,0,0,3.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2014-06-30,T,40,1.0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,10.000000
19362,19363,1985-07-19,1,1,28.0,34,G,2007.0,,SEATTLE,,NaN,2011-04-18,29,4521,40,2011-04-18,39535.20,25,ADMIN COORDINATOR,0,1,38000.00,1535.20,0.0404,0,0,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-09-06,T,44,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19363,19364,1988-03-18,0,1,26.0,31,,NaN,,SLATINGTON,,NaN,2012-07-18,24,4429,40,2012-07-18,34680.00,25,CLINICAL RESEARCH COORD A,0,0,34000.00,680.00,0.0200,0,0,3.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2014-07-17,T,41,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,10.000000
19364,19365,1987-05-29,0,1,24.0,32,,NaN,,PHILADELPHIA,,NaN,2009-06-01,24,4419,40,2009-06-01,27147.00,23,TECH PSYCHOLOGY,0,1,25842.00,1305.00,0.0504,0,0,4.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-06-07,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,9.000000
19365,19366,1971-01-28,1,1,40.0,48,I,1994.0,CH,HADDONFIELD,IM,NaN,2005-09-09,69,4247,40,2005-09-09,42238.20,26,RESEARCH SPECIALIST C,0,0,34100.00,8138.20,0.2386,0,0,4.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2011-06-30,T,1,0.0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,10.000000
19366,19367,1963-07-05,1,1,49.0,56,,NaN,,PHILADELPHIA,,NaN,1998-05-11,171,5106,51,1998-05-11,42603.97,25,ADMIN COORDINATOR,0,1,20300.00,22303.97,1.0987,0,0,5.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2012-08-30,T,41,1.0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,5.333333
19367,19368,1991-12-06,1,1,24.0,27,G,2014.0,KS,NASHVILLE,F1,11/1/2016 0:00,2014-06-15,24,4502,40,2014-06-15,30900.00,24,RESEARCH SPECIALIST A,0,0,30000.00,900.00,0.0300,0,0,15.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2016-06-15,T,47,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,8.000000
19368,19369,1990-12-17,0,1,23.0,28,E,2011.0,,PHILADELPHIA,,NaN,2013-07-30,11,4502,40,2011-06-08,30000.00,24,RESEARCH SPECIALIST A,0,0,30000.00,0.00,0.0000,0,0,3.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2014-06-30,T,47,1.0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,NaN
19369,19370,1974-04-19,0,1,39.0,45,,NaN,,JENKINTOWN,,NaN,2002-08-19,132,4289,40,2000-11-13,66598.00,26,STAFF ASSISTANT C,0,0,25829.00,40769.00,1.5784,0,0,30.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2013-08-31,T,40,1.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,10.000000
19370,19371,1984-04-15,1,1,28.0,35,G,2006.0,,PHILADELPHIA,,NaN,2009-11-11,33,4289,40,2009-11-11,29567.00,24,RESEARCH SPECIALIST A,0,0,28000.00,1567.00,0.0559,0,0,18.0,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,2012-08-17,T,40,1.0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,7.333333

In [13]:
data.to_csv('clean_data.csv',index=False, date_format='%Y-%m-%d')